<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Your user token is <b><%= @token %></b>.<br>
      Activate it <%= link_to "here", activate_user_token_url(id: @user.id) %>.<br>
    </p>
  </body>
</html>
