<div id="<%= dom_id invoice %>">
  <p>
    <strong>Company:</strong>
    <%= invoice.company %>
  </p>

  <p>
    <strong>Debtor:</strong>
    <%= invoice.debtor %>
  </p>

  <p>
    <strong>Total value:</strong>
    <%= invoice.total_value %>
  </p>

</div>
